node_modules/
.env
.nyc_output/
.grunt/
bower_components/
.lock-wscript
build/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm/
.eslintcache/
.stylelintcache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache
.next
.nuxt
dist
.vuepress/
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/
.webpack/
.svelte-kit